<header class='header'>

  <div class="header__city-and-date">

    <div class="header__city">
      <img class='header__city-arrow' src='../../assets/icons/navigation.png'>
      <span class='header__city-title'> Москва </span>
    </div>
    <div class="header__day">
      <span> 1 декабря, среда </span>
      <span class='header__time'> 20:20 </span>
    </div>
  </div>

  <div class="header__icons">
    <img class='header__icons_item' src='../../assets/icons/cart.png'>
    <img class='header__icons_item' src='../../assets/icons/bell.png'>
  </div> 
</header>
