<div class="advertising">
  <div class="advertising__empty">

  </div>
  <div class="advertising__content">

    <a
      href='https://skillbox.ru/code/?utm_source=advcake&utm_medium=cpa&utm_campaign=affiliate&utm_content=7d69da85&utm_term=d98d03494ac5447102685f7dba585282&advcake_params=d98d03494ac5447102685f7dba585282&sub1=nn'>
      <div class='advertising__top-advertising'>
        <div class="advertising__top-advertising-picture">
          <div class="advertising__top-advertising-picture-label">
            <span>Реклама</span>
          </div>
        </div>
        <div class="advertising__top-advertising-labels">
          <img class="advertising__top-advertising-close-img" src='../../assets/icons/close.png' />
          <div class="advertising__top-advertising-top-label"> <span> Научим грамотно писать код для WEB!
            </span> </div>
          <div class="advertising__top-advertising-bot-label"> <span> Подробнее на go.acstat.com </span> </div>
        </div>
      </div>
    </a>

      <app-adv-and-dzen> </app-adv-and-dzen>

  </div>
</div>