<div class="middle-block">
  <div class="middle-block__left">
    <img class='middle-block__left-logo' src='../../assets/icons/logo-yandex.png' />
  </div>
  <div>
    <form class="middle-block__rigth">

      <div class="middle-block__search-string">
        <div class='middle-block__contenteditable-div' contenteditable placeholder="Найдется все"></div>
        <div class="middle-block__string-icons">
          <img class="middle-block__string-icons_micro" src='../../assets/icons/microphone.png' />
          <img class="middle-block__string-icons_clava" src='../../assets/icons/keyboard.png' />
        </div>
      </div>

      <div class="middle-block__search-button-wrapper">
        <div class='middle-block__search-button'>
          <button> <span class='middle-block__search-button-label'> Найти </span> </button>
        </div>
      </div>

    </form>
    <div class='middle-block__bot-label'>
      <img src='../../assets/icons/mini-yb.png'>
      <span>Установите Яндекс.Браузер</span>
    </div>
  </div>
</div>
