<div class="adv-and-dzen">

  <div class="adv-and-dzen__adv">

    <div class='adv-and-dzen__adv1'> 
    <div class="adv-and-dzen__adv-header">
      <div class="adv-and-dzen__adv-header-profile">

        <div class='adv-and-dzen__adv-header-div-img'>
          <img class='adv-and-dzen__adv-header-img' src='../../assets/icons/ava-video-block.png' />
        </div>

        <div class="adv-and-dzen__adv-header-labels">
          <div class="adv-and-dzen__adv-header-labels-top">
            <div> <span class='adv-and-dzen__adv-header-labels_first'> Мелодия вкуса </span> </div>

            <div class="adv-and-dzen__adv-header-labels-top-div-dot">
              <img class="adv-and-dzen__adv-header-labels-top-dot" src='../../assets/icons/black-circle.png' />
            </div>

            <div> <span class='adv-and-dzen__adv-header-labels_third'> Подписаться </span> </div>

          </div>

          <div class="adv-and-dzen__adv-header-labels-bot">
            <span>178 тыс. подписчиков </span>
          </div>

        </div>
      </div>

      <div class="adv-and-dzen__adv-header-dots">
        <img class="adv-and-dzen__adv-header-dots-img" src='../../assets/icons/dots-vertical.png' />
      </div>

    </div>

    <div class="adv-and-dzen__adv-video">
      <video src="../../assets/video/S7Airlines.mp4" width='100%' controls></video>
    </div>

    <div class="adv-and-dzen__label-under-video">
      <div class="adv-and-dzen__label-under-video-title"> <span> Жена готовит 3 быстрые закуски из слоёного
          теста на праздничный стол всего за 20 минут </span> </div>
      <div class="adv-and-dzen__label-under-video-date-and-views">
        <span> 12 августа </span>
        <img class="adv-and-dzen__label-under-video-img" src='../../assets/icons/black-circle.png' />
        <span> 17 492 865 просмотров </span>
      </div>

      <div class="adv-and-dzen__follow-block">
        <span class="adv-and-dzen__follow-block-title"> Не пропустите новые публикации </span>
        <button class="adv-and-dzen__follow-block-btn"> Подписаться </button>
      </div>

      <div class="adv-and-dzen__footer ">
        <div class="adv-and-dzen__footer-left">
          <img class="adv-and-dzen__footer-left-avatar" src='../../assets/icons/double-ava.png' />
          <span class="adv-and-dzen__footer-nmb-comments"> 896 </span>
          <span> комментариев </span>
        </div>
        <div class="adv-and-dzen__footer-right">
          <div> <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_1" src='../../assets/icons/cool.png' /> </div>
          <div>  <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_2" src='../../assets/icons/notCool.png' /></div>
          <div> <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_3" src='../../assets/icons/arrow.png' /></div>
        </div>
      </div>

    </div>
  </div>

   <div  class='adv-and-dzen__adv2'>

    <div class="adv-and-dzen__adv2__img">
   
    </div>

    <div class="adv-and-dzen__adv2__content">

      <div class="adv-and-dzen__adv-header"> 
        <div class="adv-and-dzen__adv-header-left">

          <div class='adv-and-dzen__adv-header-div-img'>
            <img class='adv-and-dzen__adv-header-img' src='../../assets/icons/ava-video-block.png' />
          </div>

          <div class='adv-and-dzen__adv-header-labels'>
            <div class="adv-and-dzen__adv-header-labels-top"> 
              <span class="adv-and-dzen__adv-header-labels-title"> Cемейный канал Тимошенко </span>
              <img class="adv-and-dzen__adv-header-labels-img" src='../../assets/icons/prodevedAcc.png'/>
            </div>

            <div class="adv-and-dzen__adv-header-labels-bot"> 
              <span> свежее из подписок </span>
            </div>
          </div>
          
        </div>

        <div class="adv-and-dzen__adv-header-dots adv-and-dzen__adv-header-dots__2">
          <img class="adv-and-dzen__adv-header-dots-img " src='../../assets/icons/dots-vertical.png' />
        </div>

      </div>

      <div class='adv-and-dzen__adv2-middle-block-label-1'>
        <span> Жена готовит этот вкусный салат через день, но я готов есть его каждый день. Делимся рецептом +видео </span>
      </div>

      <div class='adv-and-dzen__adv2-middle-block-label-2'>
        <span> Приветствуем всех на "Семейном канале Тищенко" Сегодня хочу с Вами поделится,..</span>
      </div>

      <div class='adv-and-dzen__adv2-middle-block-label-3'>
        <span> 2 дня назад</span>
      </div>

      
      <div class="adv-and-dzen__footer adv-and-dzen__footer_2">
        <div class="adv-and-dzen__footer-left adv-and-dzen__footer-left_2">
          <img class="adv-and-dzen__footer-adv2-avatar__2" src='../../assets/icons/adv2-comment-ava.png' />
          <span class='adv-and-dzen__footer-adv2-label'> Комментировать... </span>
        </div>
        <div class="adv-and-dzen__footer-right">
          <div> <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_1" src='../../assets/icons/cool.png' /> </div>
          <div>  <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_2" src='../../assets/icons/notCool.png' /></div>
          <div> <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_3" src='../../assets/icons/arrow.png' /></div>
        </div>
      </div>

    </div>

   </div>

   <div class='adv-and-dzen__adv1 adv-and-dzen__adv1_3'> 
    <div class="adv-and-dzen__adv-header">
      <div class="adv-and-dzen__adv-header-profile">

        <div class='adv-and-dzen__adv-header-div-img'>
          <img class='adv-and-dzen__adv-header-img' src='../../assets/icons/adv3-ava.png' />
        </div>

        <div class="adv-and-dzen__adv-header-labels">
          <div class="adv-and-dzen__adv-header-labels-top">
            <div> <span class='adv-and-dzen__adv-header-labels_first'> Relu Dam </span> </div>

            <div class="adv-and-dzen__adv-header-labels-top-div-dot">
              <img class="adv-and-dzen__adv-header-labels-top-dot" src='../../assets/icons/black-circle.png' />
            </div>

            <div> <span class='adv-and-dzen__adv-header-labels_third'> Подписаться </span> </div>

          </div>

          <div class="adv-and-dzen__adv-header-labels-bot">
            <span>3 тыс. подписчиков </span>
          </div>

        </div>
      </div>

      <div class="adv-and-dzen__adv-header-dots">
        <img class="adv-and-dzen__adv-header-dots-img" src='../../assets/icons/dots-vertical.png' />
      </div>

    </div>

    <div class="adv-and-dzen__adv-video">
      <video src="../../assets/video/v2.mp4" width='100%' controls></video>
    </div>

    <div class="adv-and-dzen__label-under-video">
      <div class="adv-and-dzen__label-under-video-title"> <span> СУПЕРСКАЯ ИДЕЯ для Подачи На Стол. Такую Красоту Только Смотреть. Праздничное Украшение Блюд. </span> </div>
      <div class="adv-and-dzen__label-under-video-date-and-views">
        <span> 2 дня назад </span>
        <img class="adv-and-dzen__label-under-video-img" src='../../assets/icons/black-circle.png' />
        <span> 417 678 просмотров </span>
      </div>

      <div class="adv-and-dzen__follow-block">
        <span class="adv-and-dzen__follow-block-title"> Не пропустите новые публикации </span>
        <button class="adv-and-dzen__follow-block-btn"> Подписаться </button>
      </div>

      <div class="adv-and-dzen__footer ">
        <div class="adv-and-dzen__footer-left">
          <img class="adv-and-dzen__footer-left-avatar adv-and-dzen__footer-left-avatar_3" src='../../assets/icons/adv2-double-ava.png' />
          <span class="adv-and-dzen__footer-nmb-comments"> 70 </span>
          <span> комментариев </span>
        </div>
        <div class="adv-and-dzen__footer-right">
          <div> <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_1" src='../../assets/icons/cool.png' /> </div>
          <div>  <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_2" src='../../assets/icons/notCool.png' /></div>
          <div> <img class="adv-and-dzen__footer-left-icon adv-and-dzen__footer-left-icon_3" src='../../assets/icons/arrow.png' /></div>
        </div>
      </div>

    </div>
  </div>
  </div>

  <div class="adv-and-dzen__dzen-wrapper"> 
  <div class="adv-and-dzen__dzen">
    <div class="adv-and-dzen__dzen-label">
      <img class="adv-and-dzen__dzen-label-img" src='../../assets/icons/logo-dzen.png' />
      <span> Дзен</span>
    </div>

    <div class="adv-and-dzen__dzen-title">
      <span class="adv-and-dzen__dzen-title-main"> РЕКОМЕНДУЕМ </span>
      <ul>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div>
          <a href='#'>Кино </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div>
          <a href='#'>Путешествия </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div> <a href='#'>Технологии </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div><a href='#'>Стиль </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div><a href='#'>Знаменитости </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div> <a href='#'>Культура </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div> <a href='#'>Спорт </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div> <a href='#'>Финансы </a>
        </li>
        <li>
          <div class='adv-and-dzen__dzen-li-img'> </div> <a href='#'>Политика </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

