<main class='main-block'>
  <div class="main-block__top">
    <div class="empty"> </div>
    <div class="main-block__content">
      <div class="main-block__top-content">
        <div class="main-block__news">
          <div class="main-block__news-titles">
            
            <span *ngFor="let newsTitle of newsTitleArr"> {{newsTitle}} </span>

            <img class='weather-and-trafic__weather-and-trafic-img main-block__top-img'
              src='../../assets/icons/dots-vertical.png' />
          </div>
          <div class='main-block__news'>
            <ul>


              <!-- <li *ngFor='news of newsArr'>
                <div class='main-block__news-picture main-block__news-picture_first'></div>
                <span class="main-block__news-item">{{news}}</span>
              </li> -->

              <li>
                <div class='main-block__news-picture main-block__news-picture_first'></div>
                <span class="main-block__news-item"> Путин ударил кулаком по столу во время доклада главы Минтруда о зарплатах шахтеров </span>
              </li>
              <li>
                <div class='main-block__news-picture main-block__news-picture_second'></div>
                <span class="main-block__news-item"> Глава МИД России Лавров назвал угрозу Нуланд ввести новые санкции тупиковым путем </span>
              </li>
              <li>
                <div class='main-block__news-picture main-block__news-picture_third'></div>
                <span class="main-block__news-item"> Белоруссия пообещала ответить на санкции ЕС асимметрично, но адекватно </span>
              </li>
              <li>
                <div class='main-block__news-picture main-block__news-picture_fourth'></div>
                <span class="main-block__news-item">Кулеба: Лукашенко своим заявлением о Крыме сжег мосты в отношениях с Украиной </span>
              </li>
              <li>
                <div class='main-block__news-picture main-block__news-picture_fifth'></div>
                <span class="main-block__news-item">Сергей Велигодский из Сбербанка предупредил о риске остаться без жилья из-за
                  мошенников </span>
              </li>
            </ul>
          </div>
          <div class="main-block__oil">
            <span class='main-block__oil-item main-block__oil-item_first'> USD </span>
            <span class='main-block__oil-item main-block__oil-item_second'> 73.88 </span>
            <span class='main-block__oil-item main-block__oil-item_third'> -0.42 </span>
            <span class='main-block__oil-item main-block__oil-item_fourth'> EUR </span>
            <span class='main-block__oil-item main-block__oil-item_fifth'> 83.52 </span>
            <span class='main-block__oil-item main-block__oil-item_sixth'> -0.48 </span>
            <span class='main-block__oil-item main-block__oil-item_seventh'> Нефть </span>
            <span class='main-block__oil-item main-block__oil-item_eighth'> 69.23 </span>
            <span class='main-block__oil-item main-block__oil-item_ninth'> +0.76% </span>
            <img class='main-block__oil-dots' src='../../assets/icons/dots-horizontal.png' />
          </div>
        </div>
        <app-weather-and-trafic> </app-weather-and-trafic>
      </div>

      <app-list-icon> </app-list-icon>
  
    </div>
  </div>
  <app-middle-block> </app-middle-block>

<app-advertising> </app-advertising>

</main>