<div class="list-icon">


  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_first' src='../../assets/icons/list-icons/1.png'>
    <div class='list-icon__item-label'>
      Маркет
    </div>
  </a>


  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_second' src='../../assets/icons/list-icons/2.png'>
    <div class='list-icon__item-label'>
      Видео
    </div>
  </a>




  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_third' src='../../assets/icons/list-icons/3.png'>
    <div class='list-icon__item-label'>
      Картинки
    </div>
  </a>

  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_fourth' src='../../assets/icons/list-icons/4.png'>
    <div class='list-icon__item-label'>
      Новости
    </div>
  </a>


  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_fifth' src='../../assets/icons/list-icons/5.png'>
    <div class='list-icon__item-label'>
      Карты
    </div>
  </a>

  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_sixth' src='../../assets/icons/list-icons/6.png'>
    <div class='list-icon__item-label'>
      Переводчик
    </div>
  </a>

  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_seventh' src='../../assets/icons/list-icons/7.png'>
    <div class='list-icon__item-label'>
      Музыка
    </div>
  </a>

  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_eighth' src='../../assets/icons/list-icons/8.png'>
    <div class='list-icon__item-label'>
      Программа
    </div>
  </a>

  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_ninth' src='../../assets/icons/list-icons/9.png'>
    <div class='list-icon__item-label'>
      Авто.ру
    </div>
  </a>

  <a href='#' class="list-icon__item">
    <img class='list-icon__item-img list-icon__item-img_tenth' src='../../assets/icons/list-icons/10.png'>
    <div class='list-icon__item-label'>
      еще
    </div>
  </a>


</div>

