<aside class='aside'>
  <div class="aside__aside-mail">

    <div class="aside__aside-mail-profile">
      <span class='aside__aside-mail-login'> Nalog.777</span>
      <img class='aside__aside-mail-img' src='../../assets/icons/avatar.png' />
    </div>
    <div class="aside__aside-mail-letters">
      <span class='aside__aside-mail-label'>Почта</span>
      <span class='aside__aside-mail-number'>11200</span>
    </div>
    <div class="aside__aside-mail-disc">
      <span> Диск</span>
    </div>

  </div>

  <div class="aside__aside-yandex-pluz">
    <img class='aside__aside-yandex-pluz-img' src='../../assets/icons/yandex-pluz.png' />
    <span class='aside__aside-yandex-pluz-letter'> Попробовать Плюс </span>
  </div>
</aside>
